{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
<audio controls loop autoplay hidden>
    <source src="{% static 'audio/lobby.mp3' %}" 
    type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<script type="text/javascript">
    var count = 5;

    // Actualizar el tiempo restante cada segundo
    const temporizador = setInterval(function () {
        count--;
        document.getElementById('countdown').innerHTML = count;

        if (count == 0) {
            clearInterval(temporizador);
            window.location.href = "{% url 'game-count-down' %}";
        }
    }, 1000);
</script>
<div class="startgame">
    <h1>Game</h1>
    <div class="question">
        <p>{{ question.question }}</p>
        <p>Correct answer is: {{ correct_answer.answer }}</p>
    </div> 
    <hr>
</div>

<div class="startgame">
    {% if final %}
    <p>That's the end!</p>
    {% else %}
        <h1>Current leaderboard</h1>
        <p>1st place: {{ leaderboard.first }}</p>
        <p>2nd place: {{ leaderboard.second }}</p>
        <p>3rd place: {{ leaderboard.third }}</p>
    {% endif %}
</div>

<div class="countdown">
    <p>Seconds left: </p>
    <p id="countdown"></p>
</div>
{% endblock %}