{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
<audio controls loop autoplay hidden>
    <source src="{% static 'audio/lobby.mp3' %}" 
    type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<script type="text/javascript">
    var count = "{{ question.answerTime }}";

    // Actualizar el tiempo restante cada segundo
    const temporizador = setInterval(function () {
        count--;
        document.getElementById('countdown').innerHTML = count;

        if (count == 0) {
            clearInterval(temporizador);
            window.location.href = "{% url 'game-count-down' %}";
        }
    }, 1000);
</script>

<h1>Game</h1>
<div class="question">{{ question.question }}</div>
<div class="cardspace">
    {% for answer in answer_list %}
    <div class="card card-{{ forloop.counter }}">
            <p>{{ answer.answer }}</p>
    </div>
{% endfor %}
</div>

<p id="countdown"></p>


{% endblock %}