<!DOCTYPE html>
<html lang="en">   
      <head>
         <title>
            {% block title %} Kahoot {% endblock %}
         </title>
      </head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
         <body> 
            {% block header %} 
            <header class="cabecera">
               <h1>PSI Kahoot</h1>
            </header>
            {% endblock %}
            <div class="longmenu">
               <nav class="navMenu">
               <a href="{% url 'home' %}"> Homepage</a>
               <a href="{% url 'login' %}"> Log In</a>
               <a href="{% url 'logout' %}"> Log Out</a>
               <a href="{% url 'signup' %}"> Sign Up</a>
               </nav>
            </div>
            <div id="page-container">
               <div id="content">
                  {% block content %}
                  <!-- main block -->
                  {% endblock %}
               </div>
               <div id="footer">
                     <p>P4 PSI: manuloseta@estudiante.uam.es & elena.balseiro@estudiante.uam.es</p>
               </div>  
            </div>
         </body> 
</html>
