{% extends 'base.html' %}
{% block title %}
   Home
{% endblock %}

{% block content %}
{% load static %}
    <h1>HOMEPAGE</h1>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <ul>
            <li><strong>Last five questionnaires:</strong></li>
            {% for questionnaire in last_questionnaires %}
                <li><a href="{% url 'questionnaire-detail' questionnaire.id %}">{{ questionnaire.title }}</a>
                    | Updated on: {{ questionnaire.updated_at }}
                </li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'questionnaire-create' %}">New Questionnaire</a></p>
        <p><a href="{% url 'questionnaire-list' %}">All Questionnaires</a></p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <br>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}

{% endblock content %}

