{% extends 'base.html' %}

{% block content %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
  <div class="login-box">
  <div class="login">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="user-box">
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: white">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      </div>
       
      {% endfor %}
      <center>
        <button class?= "button2" type="submit">Sign up</button><span></span>
      </center>
      
    </form>
  </div>
  </div>
  
  
{% endblock %}