{% extends "base.html" %}

{% block content %}
  <h1>Questionnaire List</h1>
  {% if questionnaire_list %}
  <ul>
    {% for questionnaire in questionnaire_list %}
      <li>
        <a href="{{ questionnaire.get_absolute_url }}">{{ questionnaire }}</a>
        <a href="{% url 'questionnaire-update' questionnaire.id %}">Edit</a>
        <a href="{% url 'questionnaire-remove' questionnaire.id %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no questionnaires.</p>
  {% endif %}
{% endblock %}