{% extends "base.html" %}

{% block content %}
  <h1>Question: {{ question.question }}</h1>

  <p>From questionnaire: {{ question.questionnaire.title }}</p>
  <p>Created at: {{ question.created_at }}</p>
  <p>Updated at: {{ question.updated_at }}</p>
  <p>Answer Time: {{ question.answerTime }}</p>


    <h4>Answers</h4>
    <ul>
      {% for answer in answer_list %}
        <li>
          <p>
            {{answer}} | 
            {% if answer.correct %}
              correct | 
            {% else %}
              incorrect | 
            {% endif %}
            <a href="{% url 'answer-update' answer.id %}">Edit</a>
            <a href="{% url 'answer-remove' answer.id %}">Remove</a>
          </p>
        </li>
      {% endfor %}
    </ul>
  
    {% if number_answers < 4 %}
      <a href="{% url 'answer-create' question.id %}">Add Answer</a>
    {% endif %}


  <a href="{% url 'questionnaire-detail' question.questionnaire.id %}">Return to Questionnaire</a>
{% endblock %}
