.gameform{
    background: #009087;
    width: auto;
    height: 100vh;
    padding: 15%;
    color: rgba(3, 21, 58, 0.987);
    font-size: 1em;
}


.form-group{
    padding: 10%;
    font-size: 1em;
    color: white;
    position: relative;
    
}

.joinbutton{
    border-radius: 15px;
    padding:20px;
    color: rgba(3, 21, 58, 0.987);
    position: relative;
}